<% content_for(:sidebar) do %>
<div class='block'>
  <ul class='navigation'>    
    <li><%= link_to("Nueva Factura", new_cliente_factura_path(@cliente))%></li>
    <li><%= link_to("Nuevo Recibo", new_cliente_recibo_path(@cliente))%></li>
    <li><%= link_to("Nueva Nota de credito", new_cliente_notacredito_path(@cliente) )%></li>
    <li><%= link_to("Nuevo Comprobante de debito", new_cliente_comprobantedebito_path(@cliente) )%></li>
    <li><%= link_to("Nuevo Comprobante de credito", new_cliente_comprobantecredito_path(@cliente) )%></li>
    <li><%= link_to("Debitos vs Creditos", new_cliente_afectacion_path(@cliente) )%></li>
	<li><%= link_to("Cuenta corriente", cuentacorriente_cliente_path(@cliente) )%></li>
  </ul>
</div>
<%end%>
