<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	b.item current_company.name.titlecase, root_path
    b.item Cliente.model_name.human, clientes_path
    b.item @cliente.razonsocial, root_path, :active => true
end %>
<%end%>

<% content_for(:controls) do %>
<%= controls do |c|
    c.item "Exportar PDF", cliente_path( :format => 'pdf'), :icon => "report_go"
    c.item "Editar", edit_cliente_path(@cliente), :icon => "application_form_edit"
    c.item "Volver", clientes_path, :icon => "application_go"
end %>
<%end%>

<%= render 'sidebar' %>

<%= form_for(@cliente) do |f| %>
  <%= f.label :razonsocial, :class => "apsLabel" %>: <%= @cliente.razonsocial %> <br/>
  <%= f.label :fantasyname, :class => "apsLabel" %>: <%= @cliente.fantasyname %> <br/>
  <%= f.label :cuit, :class => "apsLabel" %>: <%= @cliente.cuit %> <br/>
  <%= f.label :tipodocumento, :class => "apsLabel" %>: <%= @cliente.tipodocumento.name %>
  <%= f.label :numerodocumento, :class => "apsLabel" %>: <%= @cliente.numerodocumento %> <br/>
  <%= f.label :telefono, :class => "apsLabel" %>: <%= @cliente.telefono %> <br/>
  <%= f.label :direccion, :class => "apsLabel" %>: <%= @cliente.direccion %> <br/>
  <%= f.label :localidad, :class => "apsLabel" %>: <%= @cliente.localidad %> <br/>
  <%= f.label :province_id, :class => "apsLabel" %>: <%= @cliente.province.try('name') %> <br/>
  <%= f.label :codigopostal, :class => "apsLabel" %>: <%= @cliente.codigopostal %> <br/>
  <%= f.label :email, :class => "apsLabel" %>: <%= @cliente.email %> <br/>
  <%= f.label :contacto, :class => "apsLabel" %>: <%= @cliente.contacto %> <br/>
  <%= f.label :envelope, :class => "apsLabel" %>: <%= (@cliente.envelope) ? 'Si' : 'No' %> <br/>
  <%= f.label :date_and_time_attention, :class => "apsLabel" %>: <%= @cliente.date_and_time_attention %> <br/>
  <%= f.label :condicioniva_id, :class => "apsLabel" %>: <%= @cliente.condicioniva.try('detalle') %> <br/>
  <%= f.label :account_id, :class => "apsLabel" %>: <%= @cliente.account.try('name') %> <br/>
  <%= f.label :observation, :class => "apsLabel" %>: <%= @cliente.observation %> <br/>
<% end %>
<table class="table">
  <thead>
  <tr>
    <th>Tipo</th>
    <th>Numero</th>
  </tr>
  </thead>
  <tbody>
  <% @cliente.phones.each do |phone| %>
  <tr>
    <td><%= phone.type_phone.name %></td>
    <td><%= phone.number %></td>
  </tr>
  <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
  <tr>
    <th>Tipo</th>
    <th>Calle</th>
    <th>Numero</th>
    <th>Piso</th>
    <th>Dpto</th>
    <th>Ciudad</th>
    <th>Codigo Postal</th>
    <th>Provincia</th>
  </tr>
  </thead>
  <tbody>
  <% @cliente.addresses.each do |address| %>
      <tr>
        <td><%= address.type_address.try(:name) %></td>
        <td><%= address.street %></td>
        <td><%= address.number %></td>
        <td><%= address.floor %></td>
        <td><%= address.dpto %></td>
        <td><%= address.city %></td>
        <td><%= address.codpos %></td>
        <td><%= address.province.try(:name) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<hr class="clear">
<p>
  <b>Cuenta corriente - Saldo : <%= format("%.2f" % @cliente.saldo).to_s %></b>
</p>
<table class="table">
  <caption>Cuenta corriente - Saldo : </caption>
 <tr>
    <th>Tipo</th>
    <th>Numero</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Fecha Vto</th>
    <th></th>
    <th></th>
  </tr>
<% @cliente.comprobantes.order("fecha desc").each do |cpbte| %>
  <tr>
    <td><%= cpbte.type %></td>
    <% if cpbte.sale_point.nil? %>
      <td class="last"><%= format("%04d" % 0).to_s + '-' + format("%08d" % 0).to_s %></td>    
    <% else %>
      <td class="last"><%= format("%04d" % cpbte.sale_point).to_s + '-' + format("%08d" % cpbte.numero).to_s %></td>
    <% end %>
    <td><%= cpbte.fecha %></td>
    <td class="last"><%= format("%.2f" % cpbte.total_comprobante).to_s %></td>
    <td><%= cpbte.fechavto %></td>
    <td><%= link_to icon('application_go', :small, :title => 'ver'), [cpbte.cliente, cpbte] %></td>
    <td><%= link_to icon('printer', :small, :title => 'Imprimir'), :controller => cpbte.type.pluralize.downcase, :action => 'show', :cliente_id => cpbte.cliente.id, :id => cpbte.id ,:format => 'pdf' %></td>
  </tr>
<% end %>
</table>