<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	b.item "Principal", root_path
    b.item "Clientes", clientes_path
    b.item @cliente.razonsocial, root_path, :active => true
end %>
<%end%>

<% content_for(:controls) do %>
<%= controls do |c|
         c.item "Editar", edit_cliente_path(@cliente), :icon => "application_form_edit"
         c.item "Volver", clientes_path, :icon => "application_go"
end %>
<%end%>

<%= render 'sidebar' %>

<%= semantic_attributes_for @cliente do |attr| %>
  <%= attr.attributes do %>
	<%= attr.attribute :razonsocial %>
	<%= attr.attribute :fantasyname %>
	<%= attr.attribute :cuit %>
   	<%= attr.attribute :telefono %>
   	<%= attr.attribute :direccion %>
   	<%= attr.attribute :localidad %>
   	<%= attr.attribute :province_id, :display_empty => true, :value => @cliente.province.try('name') %>
   	<%= attr.attribute :codigopostal %>
   	<%= attr.attribute :email %>
  	<%= attr.attribute :contacto %>
  	<%= attr.attribute :date_and_time_attention %>
   	<%= attr.attribute :condicioniva_id, :display_empty => true, :value => @cliente.condicioniva.try('detalle') %>
   	<%= attr.attribute :account_id, :display_empty => true, :value => @cliente.account.try('name') %>
   	<%= attr.attribute :observation %>
  <% end %>
<% end %>
<p>
  <b>Facturas</b>
</p>
<table>
 <tr>
    <th>Numero</th>
    <th>Fecha</th>
    <th>Importe</th>
    <th>Fecha Vto</th>
    <th></th>
    <th></th>
  </tr>
<% @cliente.facturas.each do |cpbte| %>
  <tr>
    <td><%= cpbte.numero %></td>
    <td><%= cpbte.fecha %></td>
    <td><%= cpbte.importe %></td>
    <td><%= cpbte.fechavto %></td>
    <td><%= link_to icon('application_go', :small, :title => 'ver'), [cpbte.cliente, cpbte] %></td>
    <td><%= link_to icon('printer', :small, :title => 'Imprimir'), cliente_factura_path(cpbte.cliente, cpbte, :format => 'pdf') %></td>
  </tr>
	<% cpbte.facturarecibos.each do |cpbteafectado| %>
  		<tr>
    		<td>recibo -------></td>
    		<td><%= cpbteafectado.fecha %></td>
    		<td><%= cpbteafectado.importe %></td>
	  		<td><%= cpbteafectado.recibo.numero %></td>
	  		<td><%= cpbteafectado.recibo.importe %></td>
  		</tr>
	<% end %>
	
	<% cpbte.facturanotacreditos.each do |cpbteafectado| %>
		<tr>
  		<td>nota credito --></td>
  		<td><%= cpbteafectado.fecha %></td>
  		<td><%= cpbteafectado.importe %></td>
  		<td><%= cpbteafectado.factura.numero %></td>
  		<td><%= cpbteafectado.factura.totalfactura %></td>
		</tr>
	<% end %>	
<% end %>
</table>

<hr>
<p>
  <b>Recibos</b>
</p>
<table>
 <tr>
    <th>Numero - </th>
    <th>Fecha - </th>
    <th>Importe</th>
  </tr>

<% @cliente.recibos.each do |cpbte| %>
  <tr>
    <td><%= cpbte.numero %></td>
    <td><%= cpbte.fecha %></td>
    <td><%= cpbte.importe %></td>
  </tr>
	<% cpbte.facturarecibos.each do |cpbteafectado| %>
		<tr>
  		<td>factura -------></td>
  		<td><%= cpbteafectado.fecha %></td>
  		<td><%= cpbteafectado.importe %></td>
  		<td><%= cpbteafectado.factura.numero %></td>
  		<td><%= cpbteafectado.factura.totalfactura %></td>
		</tr>
	<% end %>	
<% end %>
</table>

<hr>
<p>
  <b>Nota de credito</b>
</p>
<table>
 <tr>
    <th>Numero</th>
    <th>Fecha</th>
    <th>Importe</th>
  </tr>
<% @cliente.notacreditos.each do |cpbte| %>
  <tr>
    <td><%= cpbte.numero %></td>
    <td><%= cpbte.fecha %></td>
    <td><%= cpbte.importe %></td>
  </tr>
	<% cpbte.facturanotacreditos.each do |cpbteafectado| %>
		<tr>
		<td>factura -------></td>
		<td><%= cpbteafectado.fecha %></td>
		<td><%= cpbteafectado.importe %></td>
  		<td><%= cpbteafectado.factura.numero %></td>
  		<td><%= cpbteafectado.factura.totalfactura %></td>
		</tr>
	<% end %>
<% end %>
</table>
