<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	b.item current_company.name.titlecase, root_path
    b.item "Tasa de IVA", tasaivas_path
    b.item @tasaiva.detalle, root_path, :active => true
end %>
<%end%>

<% content_for(:controls) do %>
<%= controls do |c|
         c.item "Exportar PDF", tasaiva_path( :format => 'pdf'), :icon => "report_go"
         c.item "Editar", edit_tasaiva_path(@tasaiva), :icon => "application_form_edit"
         c.item "Volver", tasaivas_path, :icon => "application_go"
end %>
<%end%>

<%= semantic_attributes_for @tasaiva do |attr| %>
  <%= attr.attributes do %>
	<%= attr.attribute :detalle %>
	<%= attr.attribute :porcentaje %>
	<%= attr.attribute :since, :display_empty => true %>
   	<%= attr.attribute :until, :display_empty => true %>
   	<%= attr.attribute :account_id, :display_empty => true, :value => @tasaiva.account.try('name') %>
  <% end %>
<% end %>

<div class="clear"></div>