<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	  b.item "Principal", root_path
    b.item "Clientes", clientes_path
    b.item  @facturanotacredito.factura.cliente.razonsocial , cliente_path(@facturanotacredito.factura.cliente)

end %>
<%end%>

<p>
  <b>Factura:</b>
  <%= @facturanotacredito.factura.sale_point %> <%= @facturanotacredito.factura.numero %> <%= @facturanotacredito.factura.fecha %>
</p>

<p>
  <b>Fecha:</b>
  <%= @facturanotacredito.fecha %>
</p>

<p>
  <b>Importe:</b>
  <%= @facturanotacredito.importe %>
</p>

<p>
  <b>Nota de credito:</b>
  <%= @facturanotacredito.notacredito.sale_point %> <%= @facturanotacredito.notacredito.numero %> <%= @facturanotacredito.notacredito.fecha %>
</p>