<% content_for(:head) do %>
    <%= javascript_include_tag 'facturas_form' %>
<% end %>

<%= semantic_form_for [@cliente, @factura] do |f| %>
 <%= f.semantic_errors %>
 <%= f.semantic_errors(:importe) %>

<%= f.inputs(:class => :column_left ) do %>
  <%= f.input :fecha , :as => :datepicker %>
  <%= t('activerecord.attributes.cliente.razonsocial') + ' : ' + @cliente.razonsocial %>
  <%= f.input :formapago_id, :as => :select, :collection => current_company.formapagos.map{|c| [c.name, c.id]}, :include_blank => false %>
<% end %>

<%= f.inputs(:class => :column_right ) do %>
  <%= f.input :fechavto , :as => :datepicker %>
  <%= f.input :sale_point , :as => :number, :input_html => { :size => 4, :style => "text-align:right;" } %>
  <%= f.input :numero , :as => :number, :input_html => { :size => 8, :style => "text-align:right;" } %>
<% end %>

<hr class="clear" />
<h2 class='items-title'>Items</h2>
<%= f.inputs do %>
  <table class='factura_detalle_items'>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>tasa IVA</th>
        <th>Total item</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= f.semantic_fields_for :detalles do |fd|%>
          <%= render 'detalle_fields', :f => fd %>
      <% end %>
      <tr class="total_row">
        <td colspan="4"></td>
        <td>Total:</td>
        <td class="total_total">
          $ <%= f.object.importe.presence || 0.0 %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<hr class="clear">

<div class="links">
  <%= link_to_add_association icon('add', :small, :style => 'vertical-align:middle;')+'Agrega detalle', f,
                                  :detalles,
                                  'data-association-insertion-position' => :append,
                                  'data-association-insertion-node' => 'tbody',
                                  :class => 'global_button button'%>
</div>

<%= render('shared/common_form_buttons') %>
<% end %>