<% content_for(:controls) do %>
<%= controls do |c|
         c.item "Editar", edit_cliente_factura_path(@factura.cliente.id,@factura), :icon => "application_form_edit"
         c.item "Volver", cliente_path(@factura.cliente.id), :icon => "application_go"
end %>
<%end%>

<%= semantic_attributes_for @factura do |attr| %>
  <%= attr.attributes "Cabecera" do %>
  	<%= attr.attribute :fecha %>
  	<%= attr.attribute :sale_point , :label => "Punto de venta"%>
  	<%= attr.attribute :numero , :label => "Numero de factura"%>
  	<%= attr.attribute :total, :label => "Total de factura" %>
  	<%= attr.attribute :fechavto %>

	<%= attr.attributes :for => :cliente do |cliente| %>
		<%= cliente.attribute :razonsocial , :label => "Razón social"%>
	 	<%= cliente.attribute :cuit %>
   	<%= cliente.attribute :telefono %>
   	<%= cliente.attribute :direccion %>
	<% end.html_safe %>

  	<%= attr.attribute :count_items, :label => "Cantidad de items en la factura" %>
  <% end %>

 <hr />

  <%= attr.attributes "Detalle" do %>
	<table>
	  <tr>
		 <th>Descripcion</th>
		 <th align="center">Cantidad</th>
		 <th>Unidad de medida</th>		
		 <th align="center">Precio unitario</th>
		 <th align="center">IVA</th>
		 <th align="center">Precio total</th>
		 <th></th>
		 <th></th>
		 <th></th>	
	  </tr>
	<% @factura.detalles.each do |item| %>
	  <tr>
	    <td align="left" ><%= item.descripcion %></td>
	    <td align="right"><%= item.cantidad %></td>
	    <td align="right"><%= item.product.unitmeasure.try(:name) %></td>
	    <td align="right"><%= number_to_currency(item.preciounitario) %></td>
	    <td align="right"><%= number_to_percentage(item.tasaiva, :precision => 2) %></td>
	    <td align="right"><%= number_to_currency(item.totalitem) %></td>
	  </tr>
	<% end %>
	<tr>
	  <td align="left" ><b>Total :</b></td>
	  <td align="right"></td>
	  <td align="right"></td>
	  <td align="right"></td>
	  <td align="right"><%= number_to_currency(@factura.total) %></td>
	</tr>
	</table>
	</br>
  <% end %>

  <h3>documentada</h3>
	<% @factura.debitoafectaciones.each do |item| %>
		<%= item.fecha %>
		<%= item.type %>
		<%= item.sale_point %>
		<%= item.numero %>
		<%= item.importe %>
        <%= link_to 'Borrar', [@factura.cliente,item], :confirm => 'Esta ud. seguro?', :method => :delete %>
	</br>
  <% end %>
	<% @factura.creditoafectaciones.each do |item| %>
		<%= item.fecha %>
		<%= item.type %>
		<%= item.sale_point %>
		<%= item.numero %>
		<%= item.importe %>
        <%= link_to 'Borrar', [@factura.cliente,item], :confirm => 'Esta ud. seguro?', :method => :delete %>
	</br>
  <% end %>
<% end %>

<div class="clear"></div>