<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	b.item "Principal", root_path
    b.item "Clientes", clientes_path
end %>
<%end%>

<%= semantic_form_for [@cliente,@facturarecibo] do |f| %>
  <% if @facturarecibo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facturarecibo.errors.count, "error") %> prohibited this factura recibo from being saved:</h2>

      <ul>
      <% @facturarecibo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.inputs do %>
  <%= f.input :fecha , :as => :datepicker%>
  <%= f.input :factura, :label => true, :as => :select, :collection => @cliente.facturas.select {|fc| fc.con_deuda? }.map{|c| [c.numero.to_s + ' ' + c.fecha.to_s + ' ' + c.importe.to_s + ' ' + c.total_monto_adeudado.to_s, c.id]} %>
  <%= f.input :recibo, :label => true, :as => :select, :collection => @cliente.recibos.select {|rc| rc.con_deuda? }.map{|c| [c.numero.to_s + ' ' + c.fecha.to_s + ' ' + c.importe.to_s + ' ' + c.total_monto_adeudado.to_s, c.id]} %>
  <%= f.input :importe %>
<% end %>
<%= f.buttons %>
<% end %>
