<% content_for(:breadcrumbs) do %>
<%= breadcrumbs do |b|
	  b.item "Principal", root_path
    b.item "Clientes", clientes_path
    b.item  @facturarecibo.factura.cliente.razonsocial , cliente_path(@facturarecibo.factura.cliente)
end %>
<%end%>
<p>
  <b>Factura:</b>
  <%= @facturarecibo.factura.sale_point %> <%= @facturarecibo.factura.numero %> <%= @facturarecibo.factura.fecha %>
</p>

<p>
  <b>Fecha:</b>
  <%= @facturarecibo.fecha %>
</p>

<p>
  <b>Importe:</b>
  <%= @facturarecibo.importe %>
</p>

<p>
  <b>Recibo:</b>
     <%= @facturarecibo.recibo.sale_point %> <%= @facturarecibo.recibo.numero %> <%= @facturarecibo.recibo.fecha %>
</p>
